<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink [routerLink]="['/movies']">catalog</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink [routerLink]="['/about']">about</a>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>