<form *ngIf="movie!=null" (ngSubmit)="onSubmit()">
    <div class="movieDescContainer">
        <input type="text" name="title" class="movieTitle" [(ngModel)]="movie.title"/>
        <div class="movieImage">
            <div  class="movieRatingContainer">
                <input class="movieRating" type="number" max="10" min="0" step="0.1" name="rating" [(ngModel)]="movie.rating"/>
            </div>
            <img class="movieImg" src={{movie.image}}/>
        </div>
        <input class="movieImgInput" type="text" name="image" [(ngModel)]="movie.image"/>
        <textarea class="movieDescriptionText" name="desc" [(ngModel)]="movie.description"></textarea>
        <input type="submit" value="save"/>
        <input type="button" [routerLink]="['/movies',movie.id]" value="cancel"/>
    </div>
</form>