.movieImg{
    width: 150px;
    height: 188px;
    margin-top: 7px;
    margin-bottom: 3px;
 }

 .movieRatingContainer{
    width: 45px;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: 7px;
    margin-left: 105px;
 }

 .movieRating{
    margin: 0px;
    width: 50px;
    font-weight: bolder;
 }

 .movieTitle{
   width: 100%
 }

.movieImgInput{
   width: 100%
}

.movieDescContainer{
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
}

.movieDescriptionText{
   height: 200px;
   width: 100%;
  
 }