.movieLink{
    text-decoration-line: none;
    text-decoration-color: black;
    color: black;
}

.movieContainer{
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    background: #f0f0f0;
}

.movieImg{
    width: 150px;
    height: 188px;
    margin-top: 7px;
    margin-bottom: 3px;
 }

 .movieRatingContainer{
    width: 45px;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: 7px;
    margin-left: 105px;
 }

 .movieRating{
    margin: 0px;
    font-weight: bolder;
 }

 .movieTitle{
    font-size: larger;
    font-weight: bold;
    max-height: 30px;
    overflow: hidden;
    margin-bottom: 0px;
 }

 .movieDescription{
    overflow: hidden;
    max-height: 150px;
}

 .movieDescriptionHide{
     overflow: hidden;
     max-height: 139px;
     position: relative;
 }

 div.movieDescriptionHide:after{
    content:'';
    display:block;
    position:absolute;
    height:30px;
    background:linear-gradient(to top,#a0a0a0b0,rgba(70,70,70,0));
    width:100%;
    bottom: 0;
 }

 .movieDescriptionShow{
}

.movieShowMore{
    font-size: smaller;
    color: black;
    height: 26px;
}

.movieDescriptionText{
    font-style: italic;
}

 tr{
     vertical-align: top;
 }

 td{
     text-align: left;
 }

 .movieTextTd{
     padding-left: 7px;
 }