<div class="movie">
    <table>
    <tr>
        <td class="movieImage">
            <a class="movieLink" [routerLink]="['/movies',movie.id]">
                <div  [ngClass]="setRatingClasses()">
                    <a class="movieRating movieLink" [routerLink]="['/movies',movie.id]">{{movie.rating | number:'1.1-1'}}🟊</a>
                </div>
                <img class="movieImg" src={{movie.image}}/>
            </a>
        </td>
        <td class="movieTextTd">
            <a class="movieTitle movieLink" [routerLink]="['/movies',movie.id]">{{movie.title}}</a>
            <div [ngClass]="setDescClasses()">
                <p #desc class="movieDescriptionText">{{movie.description}}</p>
            </div>
            <input type="button" (click)="showDesc()" [ngClass]="setDescShowClasses()" value="show more..."/>
        </td>
    </tr>
    </table>
</div>