<div class="catalogHeader">
    <label class="catalogText">catalog</label>
    <div class="btn-group btn-group-toggle float-right" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
        <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="1"><fa-icon [icon]="faThList"></fa-icon>
        </label>
        <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="0"><fa-icon [icon]="faThLarge"></fa-icon>
        </label>
    </div>
</div>
<div *ngIf="model==1; then list else cards"></div>
<ng-template #list>
    <app-movie-list-item *ngFor="let m of movies" [movie]=m></app-movie-list-item>
</ng-template>
<ng-template #cards>
    <app-movie-item *ngFor="let m of movies" [movie]=m></app-movie-item>
</ng-template>
