<a class="movie" [routerLink]="['/movies',movie.id]" title={{movie.title}}>
    <div [ngClass]="setRatingClasses()">
        <label class="movieRating">{{movie.rating | number:'1.1-1'}}🟊</label>
    </div>
    <img class="movieImg" src={{movie.image}}>
    <p class="movieTitle">{{movie.title}}</p>
</a>