.movie{
    background: #f4f4f4;
    border-bottom: 1px #ccc dotted;
    padding: 2px;
    display: inline-block;
    margin: 3px;
    text-decoration-line: none;
    text-decoration-color: black;
    color: black;
}

.movieImg{
    width: 200px;
    height: 282px;
 }

 .movieRatingContainer{
    width: 45px;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: 0px;
    margin-left: 155px;
 }

 .movieRating{
    margin: 0px;
    font-weight: bolder;
 }

 .movieTitle{
    font-size: small;
    font-weight: bold;
    max-width: 200px;
    overflow: hidden;
    max-height: 22px;
    min-height: 22px;
    margin-bottom: 0px;
 }