<div *ngIf="movie!=null">
    <label class="movieTitle">{{movie.title}}</label>
    <div class="movieImage">
        <div  [ngClass]="setRatingClasses()">
            <label>{{movie.rating | number:'1.1-1'}}🟊</label>
        </div>
        <img class="movieImg" src={{movie.image}}/>
    </div>
    <p class="movieDescriptionText">{{movie.description}}</p>
    <input type="button" [routerLink]="['/movies/edit',movie.id]" value="edit"/>
</div>