.movieImg{
    width: 150px;
    height: 188px;
    margin-top: 7px;
    margin-bottom: 3px;
 }

 .movieRatingContainer{
    width: 45px;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: 7px;
    margin-left: 105px;
 }

 .movieRating{
    margin: 0px;
    font-weight: bolder;
 }

 .movieTitle{
    font-size: larger;
    font-weight: bold;
    max-height: 30px;
    overflow: hidden;
    margin-bottom: 0px;
 }