/* You can add global styles to this file, and also import other style files */
.badRating{
    color: red;
}

.notbadRating{
    color: darkorange;
}

.coolRating{
    color: green;
}

.badRatingBg{
    background: red;
}

.notbadRatingBg{
    background: darkorange;
}

.coolRatingBg{
    background: green;
}

.hidden{
    display: none !important
}